body {
    margin: 0;
    height: 100vh;
    background-color: black;

    
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 2rem;
    font-weight: bold;
}

p.episode {
    text-align: center;
}

p {
    width: 50%;
    text-align: justify;
}

img {
    width: 100%;
    animation: 10s scaleLogo ;

}

@keyframes scaleLogo{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(0);
    }

}
