body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(0deg, rgba(188, 21, 121, 0.289), rgba(21, 3, 113, 0.298)), url('jack-b-bOfCH9TnRg4-unsplash.jpg');
    perspective: 100px;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 4rem;
    font-weight: bold;
    animation: scroll 50s linear forwards;
}
h1, .episode , p {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

p.episode {
    text-align: center;
}

p {
    width: 100%;
    text-align: justify;
}

img {
    width: 100%;
    animation: scaleLogo 15s forwards;
    margin-bottom: 8rem;
}


@keyframes scaleLogo {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(0);
    }

}


@keyframes scroll {
	0% { 
        top: 0; transform: translateZ(0) rotateX(20deg); opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
	to { 
        top: -7500px; transform: translateZ(-2500px) rotateX(21deg); opacity: 0;
    }
}