body {
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock { 
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: white;
    position: relative;
    border: 10px solid #ddd;
}

.s {
    position: absolute;
    width: 0.2rem;
    height: 7rem;
    background: red;
    top: 50%;
    left: 50%;

}

.ms {
    position: absolute;
    width: 0.3rem;
    height: 6rem;
    background: gray;
    top: 50%;
    left: 50%;
}

.dot {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: gray;
    top: 50%;
    left: 50%;
}